# python base
attrs==19.3.0
jedi==0.17.2
packaging==20.9
python-dateutil==2.8.2
python-dotenv==0.20.0
pytz==2021.1
requests==2.25.1
wheel==0.36.2
zope.interface==5.1.0
pandas==1.2.4
numpy==1.20.3

# jupyter base
jupyter==1.0.0
jupyter-bokeh==3.0.4
jupyter-client==7.0.0
jupyter-console==6.4.3
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.9.2
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyter-packaging==0.12.0
jupyter-server==1.16.0
jupyter-server-mathjax==0.2.5
jupyter-telemetry==0.1.0
jupyterhub==2.2.2
jupyterhub-idle-culler==1.2.1
jupyterlab==3.3.3
jupyterlab-drawio==0.9.0
jupyterlab-execute-time==2.1.0
jupyterlab-fasta==3.2.0
jupyterlab-geojson==3.2.0
jupyterlab-git==0.36.0
jupyterlab-katex==3.3.0
jupyterlab-latex==3.1.0
jupyterlab-mathjax3==4.3.0
jupyterlab-pygments==0.2.0
jupyterlab-server==2.12.0
jupyterlab-vega2==3.2.0
jupyterlab-vega3==3.2.0
jupyterlab-widgets==1.1.0
jupyterthemes==0.20.0

## notebook
notebook==6.4.10
notebook-shim==0.1.0

## kernel
ipykernel==6.12.1
ipython==8.2.0
ipython-genutils==0.2.0

# plugins
## lsp
jupyterlab-lsp==3.10.1
jupyter-lsp==1.5.1
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.4.1
#python-language-server (manually install)

## jupyterlab-execute-time
jupyterlab_execute_time==2.1.0

## git
jupyterlab-git==0.36.0

## variable inspector
lckr-jupyterlab-variableinspector==3.0.9

## latex
jupyterlab-latex==3.1.0

## randerers
jupyterlab-fasta==3.2.0
jupyterlab-geojson==3.2.0
jupyterlab-katex==3.3.0
jupyterlab-mathjax3==4.3.0
jupyterlab-vega2==3.2.0
jupyterlab-vega3==3.2.0

## bokeh
jupyter-bokeh==3.0.4

## drawio
jupyterlab-drawio==0.9.0